.container {
  justify-content: center;
}
.form {
  width: 1271px;
  display: inline-flex;
}
.button {
  margin-top: auto;
  margin-bottom: auto;
}
.inputer {
  margin-top: auto;
  margin-bottom: auto;
  width: 1155px;
}
.element {
  display: inline-block;
  justify-content: space-between;
  width: 1271px;
  margin-block: 0px;
  border: 1px solid black;
}
.buttons {
  vertical-align: auto;
  /* display: block; */
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 448px;
}
.textOfMission {
  word-break: break-all;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-block: 0px;
  width: 823px;
}
